  .playerField {
    position: relative;
    width: 100%;
    border: 1px solid #2c2424;
    box-shadow: -5px -10px 30px #ffffff;
    margin-bottom: 10px;
  }

  .playerName {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 2px 2px black;
    position: relative;
    text-align: left;
  }

  .lifeTotal {
    color: yellow;
    font-size: x-large;
    position: absolute;
    left: 40%;
    right: 40%;
  }

  .plusMinus {
    border-radius: 10px;
    opacity: .5;
  }

  .plusMinus:hover {
    opacity: 1;
    cursor: pointer;
  }

  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .battleCard {
    display: inline-block;
    position: relative;
    opacity: .95;
    z-index: 6;
  }

  .activeCard {
    z-index: 8;
  }

  .activeCard>img {
    border-radius: 16px;
    height: 310px;
    transition: .5s ease;
  }

  .activeCard>.counters {
    height: 40px;
    width: 50px;
    font-size: 34px;
    transition: .5s ease;
  }

  .activeCard>span>.attachedCards {
    height: 275px;
    transition: .5s ease;
    border-radius: 12px;
  }

  .activeCard>.tapButton {
    left: 100px;
    transition: .5s ease;
    transform: scale(2, 2);
  }

  .zoom:hover {
    transition: .5s ease;
    transform: scale(1.1, 1.1);
    opacity: 1;
    z-index: 10;
  }

  .tap {
    transform: rotate(90deg);
    margin-left: 10px;
  }

  .highlightCard {
    border: solid yellow;
  }

  .battleCardImg {
    position: relative;
    transition: .5s ease;
    z-index: 6;
  }

  .counters {
    position: absolute;
    background: white;
    color: black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 9;
    left: 0;
    bottom: 0;
    text-align: center;
    transition: .5s ease;
  }

  .tapButton {
    position: absolute;
    z-index: 9;
    left: 40px;
    bottom: 0;
    opacity: .5;
    border-radius: 11px;
    text-emphasis: bold;
    transition: .5s ease;
  }

  .tapButton:hover {
    opacity: 1;
    cursor: pointer;
  }

.attachedCards {
    height: 120px;
    transition: .5s ease;
    z-index: 8;
  }

  #battlefieldCardStatus {
    color:white;
    position: absolute;
    z-index: 11;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 95%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
  }
