  #battleCards {
    position: relative;
    display: inline-block;
    opacity: .95;
  }

  .zoom:hover {
    transition: .5s ease;
    transform: scale(4, 4); 
    opacity: 1;
    z-index: 10;
    transition-delay: 1s;
  }

  #counters {
    position: absolute;
    background: white;
    color: black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 9;
    left: 0;
    bottom: 0;
    text-align: center;
    transform: scale(.5, .5);
 }

 #extraCardOptions {
  position: absolute;
  z-index: 9;
  left: 35%;
  bottom: 0;
  transform: scale(.5, .5);
  opacity: .5;
  border-radius: 10px;
  text-emphasis: bold;
 }

 #extraCardOptions:hover {
   opacity: 1;
   cursor: pointer;
 }

  #battlefieldCardStatus {
    color:white;
    position: absolute;
    z-index: 11;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 95%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
  }

  .tap {
    transform: rotate(90deg);
    margin-left: 10px;
  }

  #playerField {
    width: 100%; 
    border: 1px solid #2c2424; 
    box-shadow: -5px -10px 30px #ffffff;
    margin-bottom: 10px;
  }

  .highlightCard {
    border: solid yellow;
  }

  #playerName {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 2px 2px black;
    position: relative;
    text-align: left;
  }

  .lifeTotal {
    color: yellow;
    font-size: x-large;
    position: absolute;
    left: 40%;
    right: 40%;
  }

  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  #plusMinus {
    border-radius: 10px;
    opacity: .5;
  }

  #plusMinus:hover {
    opacity: 1;
    cursor: pointer;
  }
