<html>
<head>

<script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
    authDomain: "magiccreative-61c57.firebaseapp.com",
    databaseURL: "https://magiccreative-61c57.firebaseio.com",
    projectId: "magiccreative-61c57",
    storageBucket: "magiccreative-61c57.appspot.com",
    messagingSenderId: "22624823794"
  };
  firebase.initializeApp(config);
</script>


<title>MTG Card Search</title>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>


<script src="javascripts/mtg.js"></script>
</head>

<body ng-app='cardeck' ng-controller="MainCtrl">

<button ng-click="getDeck()" class="button" id="displayDeck">{{nameofthatbutton}}</button>

<button ng-click="logout()" class="button" ng-show="logged">Logout</button>

<h1 ng-show="logged" id="deckHead">Manage Decks</h1>
<div id="deckRow" ng-show="logged">


<button ng-click="removeDeck()" class="button" ng-show="logged">Remove</button>

<select id="dropDown" ng-model="activeDeck" ng-options="deck.name for deck in decks">
</select>

<button ng-click="nameDeck()" ng-hide="adding" class="button"> New Deck</button>
<form ng-submit="addDeck()" ng-show="adding">
<input type="text" ng-model="deckField" value="" placeholder="Deck Name">
<button type="submit" class="button">Add</button><br>
</form>

</div>

<h1 id="deckHead">Enter A Card to Find:  </h1>
<form ng-submit="getCards()" id="deckHead">
<input id="centered" type="text" ng-model="cardField" value="">
<button type="submit" class="button">Search</button><br>
</form>

<span id="images">
  <div ng-repeat="card in mycards.cards" ng-if="card.imageUrl!=null">
    <img src="{{card.imageUrl}}" ng-click="addCard(card)">
  </div>
  <div ng-repeat="card in deckcards | orderBy:['cmc','name']">
    <img id="deckCard" src="{{card.imageUrl}}" ng-click="removeCard(card)">
  </div>
</span>

<div class="footer" ng-show="logged">
  <div id="displayTextBox">
    {{displayText}}
  </div>
</div>


</body>
</html>
