<html>
<head>
  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
      authDomain: "magiccreative-61c57.firebaseapp.com",
      databaseURL: "https://magiccreative-61c57.firebaseio.com",
      projectId: "magiccreative-61c57",
      storageBucket: "magiccreative-61c57.appspot.com",
      messagingSenderId: "22624823794"
    };
    firebase.initializeApp(config);
  </script>

  <title>Battlefield</title>

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/battlefieldStyles.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

  <script src="../javascripts/battlefield.js"></script>
</head>

<body ng-app='cardeck' ng-controller="BattleCtrl">
  <button onclick="location.href='../deck'" class="button" id="floatRight">View My Cards</button> 

  <button onclick="location.href='../'" class="button" ng-show="logged">Home</button>

  <div>
    <h1 ng-show='logged' id='deckHead'>Battlefield</h1>
  </div>
  <form>
    When I click a card:
    <input type='radio' ng-model='clickAction' value='add'>Add
    <input type='radio' ng-model='clickAction' value='removeadd'>Move
    <input type='radio' ng-model='clickAction' value='remove'>Remove
    <input type='radio' ng-model='clickAction' value='tap'>Tap
    <input type='radio' ng-model='clickAction' value='flip'>Flip
    <input type='radio' ng-model='clickAction' value=addremoveflip'>Move Flipped
  </form>
  <input type='checkbox' ng-model='showCheckboxes'>Show Checkboxes
  <span id='images'>
    <div ng-repeat="player in battlefield" id="playerField">
      <h2>{{player.name}}</h2>
      <br>
      <div ng-repeat='field in deckFields'>
        <span ng-show="showCheckboxes">
          <input type="checkbox" ng-model="addForPlayer[player.$id][field]">Add
          <input type="checkbox" ng-model="showForPlayer[player.$id][field]">Show {{field.charAt(0).toUpperCase() + field.slice(1)}}
        </span>
        <h3 ng-show="showForPlayer[player.$id][field]">{{field.charAt(0).toUpperCase() + field.slice(1)}}</h3>
        <span ng-repeat="card in cardsForPlayer[player.$id][field]" ng-show="showForPlayer[player.$id][field]">
          <img id="battleCards" ng-class="{tap: card.tapped}" src="{{getImage(card)}}" ng-click="clickGameCard(card, player, field)">
        </span>
      </div>
    </div>
  </span>

  <div class="footer" ng-show="logged">
    <div id="displayTextBox">
      {{footerText}}
    </div>
  </div>
</body>

</html>
