<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
      authDomain: "magiccreative-61c57.firebaseapp.com",
      databaseURL: "https://magiccreative-61c57.firebaseio.com",
      projectId: "magiccreative-61c57",
      storageBucket: "magiccreative-61c57.appspot.com",
      messagingSenderId: "22624823794"
    };
    firebase.initializeApp(config);
  </script>

  <title>Battlefield</title>

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/battlefieldStyles.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

  <script src="../javascripts/battlefield.js"></script>
</head>

<body ng-app='cardeck' ng-controller="BattleCtrl">
  <button onclick="location.href='../deck'" class="button" id="floatRight">View My Cards</button>
  <button onclick="location.href='../'" class="button" ng-show="logged">Home</button>
  <div>
    <h1 id='deckHead'>Battlefield</h1>
  </div>
  <span id='images'>
    <div ng-repeat="player in battlefield" id="playerField">
      <div id="playerName">
        <span>{{player.name}}</span>
        <span class="lifeTotal">
          <button id="plusMinus">-</button>
          <span>40</span>
          <button id="plusMinus">+</button>
        </span>
      </div>
      <div ng-repeat='field in deckFields'>
        <h3 ng-show='showCheckboxes || showForPlayer[player.$id][field] || (user.uid == player.$id && moving)'>
          <input type="checkbox" ng-show="showCheckboxes" ng-model="showForPlayer[player.$id][field]">
          {{field.charAt(0).toUpperCase() + field.slice(1)}}
        </h3>
        <span id="battleCards" ng-class="{zoom: zoom}" ng-repeat="card in cardsForPlayer[player.$id][field]" ng-show="showForPlayer[player.$id][field]">
          <img ng-class="{tap: card.tapped, highlightCard: card.highlighted}" src="{{getImage(card)}}" ng-click="clickGameCard(card, player, field)">
          <span id="counters" ng-show='card.counters'>{{card.counters}}</span>
          <button id="extraCardOptions" ng-hide='optionsCard == card.$id' ng-click='extraOptions(card)'>...</button>
          <select ng-show='optionsCard == card.$id' ng-model='moveLocation' ng-change="moveCardAdvanced(card, player, field, moveLocation)" id="dropDown" ng-options="o as o for o in allOptions"></select>
        </span>
      </div>
    </div>
  </span>

  <div class="footer">
    <form>
      When I click a card:
          <select ng-model='clickAction' id="dropDown" ng-options="o as o for o in clickOptions"></select>
      <button ng-click="drawCard()" class="button">Draw Card</button>
      <br/>
      <span ng-show='showCheckboxes'>
        <input type='checkbox' ng-model='flip'>Draw Facedown
        <input type='checkbox' ng-model='zoom'>Zoom Card on Hover
      </span>
    </form>
    <input type='checkbox' ng-model='showCheckboxes'>Slightly More Advanced Options
  </div>
</body>
</html>
