<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
      authDomain: "magiccreative-61c57.firebaseapp.com",
      databaseURL: "https://magiccreative-61c57.firebaseio.com",
      projectId: "magiccreative-61c57",
      storageBucket: "magiccreative-61c57.appspot.com",
      messagingSenderId: "22624823794"
    };
    firebase.initializeApp(config);
  </script>

  <title>Battlefield</title>

  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/battlefieldStyles.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

  <script src="../javascripts/battlefield.js"></script>
</head>

<body ng-app='cardeck' ng-controller="BattleCtrl">
  <button onclick="location.href='../'" class="button">Home</button>

  <div>
    <h1 id='deckHead'>Battlefield</h1>
  </div>
  <span id='images'>
    <div ng-repeat="player in battlefield" id="playerField">
      <div id="playerName">
        <span>
          {{player.name}}
          <span ng-show="player.$id == user.uid">(You)</span>
        </span>
        <span class="lifeTotal">
          <button id="plusMinus" ng-click="changeLife(player, -1)">
            -
          </button>
          <span>{{player.life}}</span>
          <button id="plusMinus" ng-click="changeLife(player, 1)">
            +
          </button>
        </span>
      </div>
      <div ng-repeat='field in deckFields'>
        <h3 ng-show='showCheckboxes || showForPlayer[player.$id][field]'>
          <input type="checkbox" ng-show="showCheckboxes" ng-model="showForPlayer[player.$id][field]">
          {{capitalize(field)}}
        </h3>
        <span ng-repeat="card in cardsForPlayer[player.$id][field]">
          <span class="battleCards" ng-class="{zoom: zoom}" 
          ng-show="showForPlayer[player.$id][field]">
            <img ng-class="{activeCard: activeCard.$id == card.$id, tap: card.tapped, highlightCard: card.highlighted}" src="{{getImage(card)}}"
              ng-click="clickGameCard(card, player, field)">
            <span id="counters" ng-show='card.counters'>
              {{card.counters}}
            </span>
            <button id="extraCardOptions" ng-click='extraOptions(card)'>
              ...
              <select class='dropDown' id='extra' ng-model='moveLocation'
            ng-change="moveCardAdvanced(card, player, field, moveLocation)"
            ng-options="o as capitalize(o) for o in allOptions">
            <option class="moveExpand" value="" disabled>
              Move to...
            </option>
            </select>
          </button>
            <span ng-repeat="attach in card.attached_cards">
              <img ng-class="{tap: attach.tapped, highlightCard: attach.highlighted, attachedCards: true}"
                src="{{getImage(attach)}}" ng-click="clickGameCard(attach, player, field)">
            </span>
          </span>
          
        </span>
        </span>
      </div>
    </div>
  </span>

  <div class="footer">
    <form>
      When I click a card:
      <select ng-model='clickAction' class="dropDown" ng-options="o as o for o in clickOptions">
      </select>
      <button class="button" ng-click="drawCard()">Draw Card</button>
      <button class="button" ng-click="untapAll()">Untap</button>
      <br />
      <span ng-show='showCheckboxes'>
        <input type='checkbox' ng-model='flipOnDraw'>Draw Facedown
        <input type='checkbox' ng-model='zoom'>Zoom Card on Hover
      </span>
    </form>
    <input type='checkbox' ng-model='showCheckboxes'>Slightly More Advanced Options
  </div>
</body>

</html>
