<html>
<head>

  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
      authDomain: "magiccreative-61c57.firebaseapp.com",
      databaseURL: "https://magiccreative-61c57.firebaseio.com",
      projectId: "magiccreative-61c57",
      storageBucket: "magiccreative-61c57.appspot.com",
      messagingSenderId: "22624823794"
    };
    firebase.initializeApp(config);
  </script>

  <title>My Cards</title>

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>


  <script src="../javascripts/mtg.js"></script>
</head>

<body ng-app='cardeck' ng-controller="MainCtrl">

  <!-- name of button == View Battlefield or View Hand -->
  <button onclick="location.href='../battlefield'" class="button" id="displayDeck">View Battlefield</button> 

  <button onclick="location.href='../'" class="button" ng-show="logged">Leave Game</button>
  <div ng-show="manage">
    <h1 ng-show="logged" id="deckHead">My Cards</h1>
    <div id="deckRow" ng-show="logged">
      <button class="button" ng-show="logged">Draw Card</button>
      <button ng-hide="adding" class="button">Search Deck</button>
      <input type="checkbox" ng-model='addToSecondDeck'> Send to Battlefield
      <input type="checkbox" ng-model='removeFromDeck'> Discard
    </div>
  </div>

  <span id="images">
    <div ng-repeat="card in searchResults.cards" ng-hide="!logged || manage" ng-if="card.imageUrl!=null">
      <img src="{{card.imageUrl}}" ng-click="addCard(card)">
    </div>
    <div ng-show="manage && logged" ng-repeat="card in deckCards | orderBy:['cmc','name']">
      <img id="deckCard" src="{{card.imageUrl}}" ng-click="clickDeckCard(card)">
    </div>
  </span>

  <div class="footer" ng-show="logged">
    <div id="displayTextBox">
      {{footerText}}
    </div>
  </div>

</body>
</html>
