<html>

<head>

  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
      authDomain: "magiccreative-61c57.firebaseapp.com",
      databaseURL: "https://magiccreative-61c57.firebaseio.com",
      projectId: "magiccreative-61c57",
      storageBucket: "magiccreative-61c57.appspot.com",
      messagingSenderId: "22624823794"
    };
    firebase.initializeApp(config);
  </script>

  <title>Manage Decks</title>

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>


  <script src="../javascripts/mtg.js"></script>
</head>

<body ng-app='cardeck' ng-controller="MainCtrl">

  <span id="floatRight">
    <button ng-click="removeDeck()" class="button" ng-show="logged">Delete Deck</button>
    <button ng-click="nameDeck()" ng-hide="adding" class="button">Create New Deck</button>

    <form ng-submit="addDeck()" ng-show="adding">
      <input type="text" ng-model="deckField" value="" placeholder="Deck Name">
      <button type="submit" class="button">Add</button><br>
    </form>
    <button class="button" ng-show="logged">Remove Cards</button>
    <button ng-click="getDeck()" ng-show="logged" class="button">{{nameofthatbutton}}</button>
  </span>

  <button onclick="location.href='../'" class="button" ng-show="logged">Home</button>
  <div ng-show="manage">
    <h1 ng-show="logged" id="deckHead">Manage Decks</h1>
    <div id="deckRow" ng-show="logged">
      <select ng-change="clearDisplay()" id="dropDown" ng-model="activeDeck" ng-options="deck.name for deck in decks">
      </select>
      <!-- 
      <select id="dropDown" ng-model="secondDeck" ng-options="deck.name for deck in decks">
      </select>
      <input type="checkbox" ng-model='addToSecondDeck'> Add
      <input type="checkbox" ng-model='removeFromDeck'> Remove -->
    </div>
  </div>
  <div ng-hide="manage || !logged">
    <h1 id="deckHead">Enter A Card to Find: </h1>
    <form ng-submit="getCards()" id="deckHead">
      <input id="centered" type="text" ng-model="cardField" value="">
      <button type="submit" class="button">Search</button><br>
    </form>
  </div>
  <span id="images">
    <div ng-repeat="card in searchResults.cards" ng-hide="!logged || manage" ng-if="card.imageUrl!=null">
      <img src="{{card.imageUrl}}" ng-click="addCard(card)">
    </div>
    <div ng-show="manage && logged" ng-repeat="card in deckCards | orderBy:['cmc','name']">
      <img id="deckCard" src="{{card.imageUrl}}" ng-click="clickDeckCard(card)">
    </div>
  </span>

  <div class="footer" ng-show="logged">
    <div id="displayTextBox">
      {{footerText}}
    </div>
  </div>

</body>

</html>