<html>
<head>
  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDta0h9G8OW19PjIFppaZHH2vXkrrUz5zw",
      authDomain: "magiccreative-61c57.firebaseapp.com",
      databaseURL: "https://magiccreative-61c57.firebaseio.com",
      projectId: "magiccreative-61c57",
      storageBucket: "magiccreative-61c57.appspot.com",
      messagingSenderId: "22624823794"
    };
    firebase.initializeApp(config);
  </script>

  <title>Manage Decks</title>

  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/manageDecksStyles.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

  <script src="../javascripts/manageDecks.js"></script>
</head>

<body ng-app='cardeck' ng-controller="ManageDecksCtrl">

  <span class="floatRight">

    <span ng-show="deckView">
      
      <button ng-click="initiateBorrowDeck()" ng-hide="showBorrowUser" class="button">Borrow Deck</button>
      <select ng-change="showSharedDecks(shareUser)" class="dropDown" ng-show="showBorrowUser" ng-model="shareUser" ng-options="user.name for user in shareUsers"></select>

      <select class="dropDown" ng-show="showBorrowField" ng-model="sharedDeck" ng-options="deck.name for deck in sharedDecks"></select>
      <button ng-click="borrowDeck()" class="button" ng-show="showBorrowField">Borrow</button>
      <button ng-click="cancelBorrow()" class="button" ng-show="showBorrowUser">Cancel</button>

      <br/>
      <button ng-click="initiateAddDeck()" ng-hide="showCreateField" class="button">Create New Deck</button>
      <form ng-submit="addDeck()" ng-show="showCreateField">
        <input type="text" ng-model="deckField" value="" placeholder="Deck Name" maxlength={{maxlength}}>
        <button type="submit" class="button">Add</button><br>
        <button ng-click="cancelCreateDeck()" class="button">Cancel</button>
      </form>      

    </span>

    <span ng-show="collectionView">
      <button ng-click="initiateRemove()" class="button">{{removeButtonText}}</button>
      <button ng-click="removeCollection()" class="button" ng-show="removeInitiated">{{removeInitiatedText}}</button>
      <br/>
      <button ng-click="nameField()" ng-hide="showCreateField" class="button">Create New Collection</button>
      <form ng-submit="addCollection()" ng-show="showCreateField">
        <input type="text" ng-model="collectionField" value="" placeholder="Collection Name" maxlength={{maxlength}}>
        <button type="submit" class="button">Add</button><br>
      </form>
    </span>
      <br/>

    <button ng-click="toDeckView()" ng-hide='deckView' class='button'>Manage Deck</button>
    <button ng-click="toCollectionView()" ng-hide='collectionView' class='button'>Collections</button>

  </span>

  <button onclick="location.href='../'" class="button" >Home</button>
  <div ng-show="deckView">
    <h1 class="deckHead">Manage Decks</h1>
    <div class="deckRow">
      
      <select ng-change="selectDeck(activeDeck)" class="dropDown" ng-model="activeDeck" ng-options="deck.name for deck in decks">
      </select>
      
      <button ng-click="joinGame()" class="button">Join Game</button>
      <button ng-click="shareDeck()" class="button">Share Deck</button>
      <button ng-click="initiateRemove()" class="button">{{removeButtonText}}</button>
      <button ng-click="removeDeck()" class="button" ng-show="removeInitiated">{{removeInitiatedText}}</button>
      <button ng-click="initiateRenameDeck()" ng-hide="showRenameField" class="button">Rename Deck</button>
       <form ng-submit="renameDeck()" ng-show="showRenameField">
         <input type="text" ng-model="renameField" value="" placeholder="Deck Name" maxlength={{maxlength}}>
         <button type="submit" class="button">Rename</button>
         <button class="button" ng-click="cancelRenameDeck()">Cancel</button>
       </form>
       <button ng-click="toCardView()" ng-hide="cardView" class="button">Add Cards</button>

      <input type="checkbox" ng-model="extras" ng-change="clearDisplay()">Show Extras
      <input type="checkbox" ng-model="removeFromDeck">Remove on Click
    
    </div>
  </div>
  <div ng-show="cardView">
    <h1 class="deckHead">Enter A Card to Find: </h1>
    <form ng-submit="getCards()" class="deckHead">
      <input class="centered" type="text" ng-model="cardField" value="">
      <button type="submit" class="button">Search</button><br>
    </form>
    <input type="checkbox" ng-model="extras">Add to Deck Extras
    <input type="checkbox" ng-model="addToDeck">Add to Deck
    <input type="checkbox" ng-model="addToCollection">Add to Collection
  </div>
  <div ng-show="collectionView">

    <select ng-change="selectCollection(activeCollection)" class="dropDown" ng-model="activeCollection" ng-options="collection.name for collection in collections">
    </select>

    <input type='checkbox' ng-model="removeFromCollection">Remove on Click
    <input type='checkbox' ng-model="extras">Add to Deck Extras
    <input type='checkbox' ng-model="addToDeck">Add to Deck
      <select ng-show='addToDeck' ng-change="selectDeck(activeDeck)" class="dropDown" ng-model="activeDeck" ng-options="deck.name for deck in decks">
      </select>
    <input type="checkbox" ng-model="addToSecondCollection">Add to Collection
    <select class="dropDown" ng-model="secondCollection" ng-options="collection.name for collection in collections" ng-show="addToSecondCollection"></select>
    <br/>
    <input type='checkbox' ng-model='filterOn'>Filter Cards
    <div ng-show='filterOn'>
      Card Name
      <input class='centered' type='text' ng-model='filterName' value=''>
      <br/>
      Card Text
      <input class='centered' type='text' ng-model='filterCardText'>
      <br/>
      Card Type
      <input class='centered' type='text' ng-model='filterCardType'>
      <br/>
      <input type='checkbox' ng-model='filterCMC'>Filter CMC
      <span ng-show='filterCMC'>
        <input type='number' class='cmc-input' ng-model='targetCMC'>
        <input type='checkbox' ng-model='lessThanCMC'>Less Than
        <input type='checkbox' ng-model='equalToCMC'>Equal To
        <input type='checkbox' ng-model='greaterThanCMC'>Greater Than
      </span>
      <br/>
      <span ng-repeat="color in colors">
        <input type="checkbox" ng-checked="activeColors.includes(color.identity)"  ng-click="colorChecked(color)">{{color.name}}
      </span>
      <input type='checkbox' ng-model="includeColorless">Include Colorless
      <br/>
      <span ng-repeat="type in cardTypes">
        <input type="checkbox" ng-checked="activeCardTypes.includes(type)" ng-click="typeChecked(type)">{{type}}
      </span>
    </div>
  </div>
  <span class="images">
    <div ng-repeat="card in searchResults" ng-show="cardView">
      <img src="{{getImage(card)}}" ng-click="addCard(card)">
    </div>
    <div ng-show="deckView && !extras" ng-repeat="card in deckCards | orderBy:['cmc','name']">
      <img class="deckCard" src="{{getImage(card)}}" ng-click="clickDeckCard(card)">
    </div>
    <div ng-show="deckView && extras" ng-repeat="card in deckExtras | orderBy:['cmc','name']">
      <img class="deckCard" src="{{getImage(card)}}" ng-click="clickDeckCard(card)">
    </div>
    <div ng-show="collectionView" ng-repeat="card in collectionCards | orderBy:['name','cmc'] | filter:filterFunction">
      <img class="deckCard" src="{{getImage(card)}}" ng-click="clickCollectionCard(card)">
    </div>
  </span>

  <div class="footer" >
    <div class="displayTextBox">
      {{footerText}}
    </div>
  </div>
</body>
</html>
